{% extends "modelo.html" %}
{% load static %}

 {% block titulo %} 
  <title>Home</title>
  <link rel='icon' href="{% static 'img/icon.png'%}">
 {% endblock %}




<!--  body  -->
<body>
  {% block conteudo %}
  <div class="container">
    <h1><img src="{% static 'img/icon.png'%}" alt=""width="40" height="40">Automatec</h1>
    <!-- Carrossel de imagens -->
    <div class="container-fluid ">
      <div class="row">
          <div class="col-md-12">

              <p>Nosso compromisso é entregar as melhores soluçoes em automação seja ela qual for.</p>
          </div>
      </div>
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{%static 'img/automaço.png'%}" class="img-fluid d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{%static 'img/automaço.png'%}" class="img-fluid d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{%static 'img/automaço.png'%}"class="img-fluid d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
    </div>
    </div>


    <!-- cards -->
    <div class="container-fluid" style="padding-top: 15px; background-color: #f5f7e3; margin-top: 30px; text-align: center; border-radius: 15px;">
      <h2 class="text-center mb-4">Alguns dos nossos Serviços</h2>
    </div>
    <div class="container-fluid" style="padding-top: 15px;" >
          <!-- cards 1,2,3-->
        <div class="row">
          <div class="col-lg-4 mb-4">
            <div class="card shadow-lg p-3 mb-5 bg-white rounded" style="height: 500px;">
              <img class="card-img-top img-fluid" src="{% static 'img/home/2016-01-13-logotipo3.png' %}" alt="Imagem de capa do card">
              <div class="card-body">
                <h5 class="card-title">Automação de planilhas </h5>
                <p class="card-text">Automatizar criação, busca ou inserção de dados em planilhas independente do tamanho.</p>
                <a href="#" class="btn btn-primary d-flex justify-content-center" data-bs-toggle="modal" data-bs-target="#modalPlanilhas">Saiba mais</a>
                <div class="modal fade" id="modalPlanilhas" tabindex="-1" aria-labelledby="modalPlanilhasLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="modalPlanilhasLabel">Automação de planilhas</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        A automação de planilhas pode economizar muito tempo e evitar erros ao lidar com grandes volumes de dados. Com a nossa solução, você pode automatizar a criação, busca e inserção de dados em planilhas, não importa o tamanho delas.
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 mb-4">
            <div class="card shadow-lg p-3 mb-5 bg-white rounded" style="height: 500px;"> <!-- card 1 -->
              <img class="card-img-top img-fluid" src="{% static 'img/home/pdf_python.png' %}" alt="Imagem de capa do card">
              <div class="card-body">
                <h5 class="card-title">Automação de arquivos</h5>
                <p class="card-text">Editar vários arquivos de uma vez, criar vários arquivos personalizados entre outras coisas.</p>
                <a href="#" class="btn btn-primary d-flex justify-content-center" data-bs-toggle="modal" data-bs-target="#modalArquivos">Saiba mais</a>
                <div class="modal fade" id="modalArquivos" tabindex="-1" aria-labelledby="modalArquivosLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="modalArquivosLabel">Automação de arquivos</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        A automação de arquivos pode economizar muito tempo e evitar erros ao lidar com grandes volumes de dados. Com a nossa solução, você pode editar vários arquivos de uma vez, criar vários arquivos personalizados e muito mais.
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 mb-4">
            <div class="card shadow-lg p-3 mb-5 bg-white rounded" style="height: 500px;"> <!-- card 1 -->
              <img class="card-img-top img-fluid" src="{% static 'img/home/como-fazer-um-relatorio-academico.png' %}" alt="Imagem de capa do card">
              <div class="card-body">
                <h5 class="card-title">Criação de relatórios</h5>
                <p class="card-text">Automatizar a criação de relatórios repetitivos com dados atualizados.</p>
                <a href="#" class="btn btn-primary d-flex justify-content-center" data-bs-toggle="modal" data-bs-target="#modalRelatorios">Saiba mais</a>
                <div class="modal fade" id="modalRelatorios" tabindex="-1" aria-labelledby="modalRelatoriosLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="modalRelatoriosLabel">Criação de relatórios</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        A criação de relatórios automatizados pode economizar muito tempo e evitar erros ao lidar com grandes volumes de dados. Com a nossa solução, você pode automatizar a criação de relatórios repetitivos com dados sempre atualizados.
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- cards 4,5,6-->
          <div class="row">
            <div class="col-lg-4 mb-4">
              <div class="card shadow-lg p-3 mb-5 bg-white rounded" style="height: 500px;"> <!-- card 1 -->
                <img class="card-img-top img-fluid" src="{% static 'img/home/automacao-do-instagram-1.png' %}" alt="Imagem de capa do card">
                <div class="card-body">
                  <h5 class="card-title">Automação de Redes Sociais</h5>
                  <p class="card-text">: Crie, agende e publique posts automaticamente em várias plataformas. Aumente o engajamento e alcance novos seguidores.</p>
                  <a href="#" class="btn btn-primary d-flex justify-content-center" data-bs-toggle="modal" data-bs-target="#exampleModal">E-mail</a>
                  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Automação de E-mail Marketing</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          Crie e envie campanhas de e-mail marketing personalizadas e eficazes.
                          Aumente suas taxas de conversão e fidelize seus clientes com e-mails automatizados.
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>  
            <div class="col-lg-4 mb-4">
              <div class="card shadow-lg p-3 mb-5 bg-white rounded" style="height: 500px;"> <!-- card 1 -->
                <img class="card-img-top img-fluid" src="{% static 'img/home/Enviar_email.png' %}" alt="Imagem de capa do card">
                <div class="card-body">
                  <h5 class="card-title">Automação de E-mail Marketing</h5>
                  <p class="card-text">Crie e envie campanhas de e-mail marketing personalizadas e eficazes.
                    Descrição: Aumente suas taxas de conversão e fidelize seus clientes com e-mails automatizados.</p>
                    <a href="#" class="btn btn-primary d-flex justify-content-center" data-bs-toggle="modal" data-bs-target="#exampleModal">E-mail</a>
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Automação de E-mail Marketing</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                            Crie e envie campanhas de e-mail marketing personalizadas e eficazes.
                            Aumente suas taxas de conversão e fidelize seus clientes com e-mails automatizados.
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 mb-4">
              <div class="card shadow-lg p-3 mb-5 bg-white rounded" style="height: 500px;"> <!-- card 1 -->
                <img class="card-img-top img-fluid" src="{% static 'img/home/roro_trabaio.png' %}" alt="Imagem de capa do card">
                <div class="card-body">
                  <h5 class="card-title">Automação de Tarefas Repetitivas</h5>
                  <p class="card-text">Economize tempo e dinheiro automatizando tarefas como entrada de dados, geração de relatórios e muito mais.</p>
                  <a href="#" class="btn btn-primary d-flex justify-content-center" data-bs-toggle="modal" data-bs-target="#modalTarefasRepetitivas">Saiba mais</a>
                  <div class="modal fade" id="modalTarefasRepetitivas" tabindex="-1" aria-labelledby="modalTarefasRepetitivasLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="modalTarefasRepetitivasLabel">Automação de Tarefas Repetitivas</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          A automação de tarefas repetitivas pode economizar muito tempo e dinheiro. Com a nossa solução, você pode automatizar tarefas como entrada de dados, geração de relatórios e muito mais.
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


   {% endblock %}