{% load static %}

<!doctype html>
<html lang="pt-br">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/69cd4f2338.js" crossorigin="anonymous"></script>
    {% block titulo %}
    <title>Home</title>
    <link rel='icon' href="{% static 'img/icon.png'%} ">
    {% endblock %}
  </head>
  {% block menu %}
  <body style="background-color: #3f51b51a;">
    <div>
      <nav style="background-color: #3f51b5cc !important" class="navbar navbar-expand-lg navbar-light bg-light shadow-lg p-3 mb-5 bg-body rounded">
        <div class="container-fluid">
          <div class="container">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item"><a class="navbar-brand" href="{% url "home" %}"><img src="{% static 'img/icon.png' %}" alt="" width="40" height="40"></a></li>
              <li class="nav-item"><a class="nav-link active" aria-current="page" href="{%  url "sobre" %}"><font style="color: aliceblue;">Sobre nós</font></a> </li>
              <li class="nav-item"><a class="nav-link" href="{%url "servicos"%}"><font style="color: aliceblue;">Serviços</font></a> </li>
              <li class="nav-item"><a class="nav-link" href="#"><font style="color: aliceblue;">Como Funciona</font></a> </li>
              <li class="nav-item"><a class="nav-link" href="{%url "solicitar" %}"><font style="color: aliceblue;">Solicitar orçamento</font></li>
            </ul>
            <ul class="navbar-nav ms-auto">
              {% if request.user.is_authenticated %}
              <li class="nav-item dropdown ms-auto">
                <a class="nav-link dropdown-toggle" href="#" id="usuarioDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: white;">
                  <i class="fas fa-user" style="font-size: 20px;"></i>
                  <span class="ms-1" style="font-size: 14px;">{{ request.user.first_name }}</span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="usuarioDropdown" style="width: 250px;">
                  <li><a class="dropdown-item" href="#">Meus Dados</a></li>
                  <li><a class="dropdown-item" href="{% url 'atualizar-dados'%}">Alterar Dados</a></li>
                  <li><a class="dropdown-item" href="{%url "orcamento"%}">Minhas Automações</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item nav-link" href="{% url 'logout' %}">Sair</a></li>

                  </li>
                </ul>
                </ul>
              </li>
            {% else %}
              <a class="nav-link active" aria-current="page" href="{%  url "login" %}""><font style="color: aliceblue;"><i class="fa fa-sign-in" aria-hidden="true"></i>  Login</font></a> </li>
            {% endif %}
            </ul>
          </div>
        </div>
      </nav>
    </div>
  {% endblock %}

        <div class="container" >
            {% block conteudo %}
            {% endblock %}
        </div>



        {% block rodape %}

          <div class="bg-light">
          <!-- Remove the container if you want to extend the Footer to full width. -->
        <div>
        <!-- Footer -->
        <footer class="text-white mt-auto" style="background-color: #3f51b5ea">
        <!-- Grid container -->
        <div class="container">
        <!-- Section: Links -->
        <section class="mt-5">
          <!-- Grid row-->
          <div class="row text-center d-flex justify-content-center pt-5">
            <!-- Grid column -->
            <div class="col-md-2">
              <h6 class="text-uppercase font-weight-bold">
                <a href="{%  url "sobre" %}" class="text-white">Sobre nós</a>
              </h6>
            </div>
        
            <div class="col-md-2">
              <h6 class="text-uppercase font-weight-bold">
                <a href="{%url "servicos"%}" class="text-white">Serviços</a>
              </h6>
            </div>
        
            <div class="col-md-2">
              <h6 class="text-uppercase font-weight-bold">
                <a href="#!" class="text-white">Sujestões</a>
              </h6>
            </div>
        
            <div class="col-md-2">
              <h6 class="text-uppercase font-weight-bold">
                <a href="#!" class="text-white">Suporte</a>
              </h6>
            </div>
        
            <div class="col-md-2">
              <h6 class="text-uppercase font-weight-bold">
                <a href="{%url 'contato'%}" class="text-white">Contato</a>
              </h6>
            </div>
            <!-- Grid column -->
          </div>
          <!-- Grid row-->
        </section>
        <!-- Section: Links -->
        
        <hr class="my-5" />
        
        <!-- Section: Text -->
        <section class="mb-5">
          <div class="row d-flex justify-content-center">
            <div class="col-lg-8">
              <p>
                Cansado de tarefas repetitivas e morosas?
                <br>
                <br>                
                Com as Automações Python, você pode automatizar qualquer processo, desde tarefas simples até complexas, e liberar seu tempo para se concentrar no que realmente importa.
                <br>
                Entre em contato conosco e peça ja seu orçamento.
              </p>
            </div>
          </div>
        </section>
        <!-- Section: Text -->
        
        <!-- Section: Social -->
        <section class="text-center mb-5">
          <a href="https://www.facebook.com/" class="text-white me-4">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="https://twitter.com/idvkzinho" class="text-white me-4">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="https://www.instagram.com/heriquesev/" class="text-white me-4">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="https://www.linkedin.com/in/henrique-severino-da-cunha-93b8a5149" class="text-white me-4">
            <i class="fab fa-linkedin"></i>
          </a>
          <a href="https://github.com/henrltop" class="text-white me-4">
            <i class="fab fa-github"></i>
          </a>
        </section>
        <!-- Section: Social -->
        </div>
        <!-- Grid container -->
        
        <!-- Copyright -->
        <div
            class="text-center p-3"
            style="background-color: rgba(0, 0, 0, 0.2)"
            >
        © 2024 Copyright:
        <a class="text-white" href="https://www.instagram.com/heriquesev/"
            >Henrique Cunha</a
          >
        </div>
        <!-- Copyright -->
        </footer>
        <!-- Footer -->
        </div>
        <!-- End of .container -->
        </div>
          {% endblock %}

          <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        </div>
  </body>
</html>